# Ignorer un dossier entier
venv/
docs/
02-task-manager/data/

# Ignorer tous les fichiers
python-mastery.code-workspace

# Ignorer un fichier spécifique par projet
02-task-manager/gestionnaire_test.py
02-task-manager/gestionnaire_no_fnc.py