# --- DOSSIERS GLOBAUX ---
venv/
docs/
# Ignore tous les dossiers __pycache__ peu importe où ils sont
**/__pycache__/
.pytest_cache
data/

# --- FICHIERS GLOBAUX ---
*.code-workspace
*.json
# ignorer tous les fichiers de "mémoire" ou de test
* - en memoire.py
*_test.py
*_no_fnc.py

# --- SPECIFIQUE PAR PROJET ---
