# --- DOSSIERS GLOBAUX ---
venv/
docs/
# Ignore tous les dossiers __pycache__ peu importe où ils sont
**/__pycache__/

# --- FICHIERS GLOBAUX ---
*.code-workspace
*.json
# ignorer tous les fichiers de "mémoire" ou de test
* - en memoire.py
*_test.py

# --- SPECIFIQUE PAR PROJET ---
### Prj 02 (Task Manager)
02-task-manager/data/
02-task-manager/gestionnaire_no_fnc.py

### Prj 03 (Web Perf Analyzer)
03-web-perf-analyzer/data/